body{
    font-family: "Arial", Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #252525;
    margin: 40px;
    margin-top: 300px;
    
}

h1{
    font-size: 2.7em;
    color: #fd6500;
    margin-top: -300px;
}

.header{
    background-color: #252525;
    padding: 20px;
    color: white;
    border-radius: 8px;
    margin-bottom: -150px;
}


.par{
    font-size: 1.25em;
    margin: 310px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container{
    background-color: #fd6500;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 150px 40px 12px rgb(34, 34, 34);
    border: 2.5px solid rgb(0, 0, 0);
}


input:disabled{
    background-color: #c7c0c0;
}

/* removes the arrows on input bar */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
     margin: 0;
}

.selecttxt{
    font-size: 30px;
    color: black;
    margin-left: 12px;
}

.selectbox{
    padding: 7.8px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 17px;
    margin-top: 7px;
    width: 100%;
}

.input_row{
    display: flex;
    justify-content: space-between;
    align-items: center; /*Align elements vertically*/
    gap: 5px; /*Space between elements*/
    margin-bottom: 12px; /*Space betweem rows*/
    margin-top: -10px;
    margin-left: 19px;
    font-size: 1.08em;
}

.input_row label{
    flex: 1; /*Equal width for labels*/
    text-align: center;    
    color: black;
    block-size: 0.88cm;
}

.input_row input{  
    flex: 2;
    font-size: 1.03em;
    block-size: 0.4cm;
    margin-right: 30px;
}


.theoryper{
    margin-right:119px;
    font-size: 1.2em;
}

.theoryperbox{
    text-align: center;
    margin-left: -115px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    padding: 4px;
}

.labper{
    font-size: 1.2em;
    margin-right: 4px;
}

.labperbox{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 4px;
    text-align: center;
}

.grd_row{
    display:inline-block;
    font-size: 1.2em;
    text-align: left;
    
}

.grd_row input{
    block-size: 0.6cm;
    font-size: 0.9em;
    text-align: center;
    border: 2px solid black;
}

.labgrd{
    margin-left: 37.5px;
    
}

.labgrdbox{
    width:50%;
    
}

.theorygrd{
    margin-left: 10px;
}
.theorygrdbox{
    width: 50%;
}


button{
    background-color: #332d2d;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    width: 40%;
    border-radius: 50px;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 1.1em;
}

button:hover{
    background-color: #000000;
}

.btn:active{
    transform: scale(1.05);
    transition: transform 0.0.s ease-in-out
}

.reset{
    width: 15%;
    border-radius:50%;
    margin-left: 20px;
}

.reset:active {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
}

input[type="number"]{
    margin-bottom: 10px;
}

select{
    width: 100%;
    margin-bottom: 30px;
}

.result-box{
    font-size: 1.35em;
    
}

/*FOR THE % */
/* Style the input container */
.input-container {
    position: relative;
    display: inline-flex; /* Keeps input and % in line*/
    align-items: center;
    width: auto;
}

/* Style the percentage symbol */
.input-container span {
    position: absolute;
    right: 38px;
    font-size: 1.05em;
    color: rgb(0, 0, 0);
    pointer-events: none; /* Prevent interaction */
    top: 40%; /* mOve the % to the middle*/
    transform: translateY(-50%); /* Ensure perfect vertical aligment*/
}

/* Style the input field */
.input-container input {
    padding-right: 20px; /* Space for % symbol */
    text-align: rifht; /* Align text properly */
    width: 70px;
}

